body {
  padding: 20px;
}
.form-group {
  margin-bottom: 15px;
}

.dark-mode {
  background-color: #343a40;
  color: #ffffff;
}

.dark-mode .btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.dark-mode .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.dark-mode .form-control {
  background-color: #495057;
  color: #ffffff;
}

.dark-mode .form-control:focus {
  background-color: #495057;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.dark-mode .navbar-light.bg-light {
  background-color: #343a40 !important;
  color: #ffffff !important;
}

.dark-mode .navbar-dark.bg-dark .navbar-nav .nav-link {
  color: #ffffff !important;
}

.dark-mode .navbar-dark.bg-dark .navbar-brand {
  color: #ffffff !important;
}

.dark-mode select {
  background-color: #495057; /* Fondo oscuro para el select */
  color: #ffffff; /* Texto blanco para contrastar */
}

.dark-mode select option {
  background-color: #495057; /* Fondo oscuro para las opciones */
  color: #ffffff; /* Texto blanco para asegurar la legibilidad */
}
